<template>
  <form @submit.prevent=""
        class="form">
    <suggestions-input :options-getter="getSuggestions"
                       :disabled="error"
                       v-model="inputModel" />
    <h3 v-if="error">Oops, some error occured! <br>
      <small>Try to refresh the page, or contact tech support</small>
    </h3>
  </form>
</template>
<script>
import SuggestionsInput from '../components/SuggestionsInput';
import SuggestionsApi from '../services/SuggestionsApi';

export default {
  name: 'home',
  components: {
    SuggestionsInput
  },
  data() {
    return {
      inputModel: '',
      error: false
    };
  },
  methods: {
    async getSuggestions(query) {
      try {
        let res = await SuggestionsApi.getAddress(query);
        return res;
      } catch (error) {
        this.error = true;
      }
    }
  }
};
</script>