<template>
  <div class="suggestions-input__container"
       :class="{opened:showOptions && options && options.length}">
    <input type="text"
           v-model="query"
           ref="suggestions-input__input"
           @focus="show"
           @blur="hide"
           @input="getOptions"
           @keydown.enter.prevent="enter"
           @keydown.esc="hide"
           @keydown.up="up"
           @keydown.down="down"
           :placeholder="placeholder"
           :disabled="disabled"
           maxlength="255"
           class="suggestions-input__input">
    <div class="suggestions-input__dropdown"
         ref="suggestions-input__dropdown">
      <button class="suggestions-input__option"
              v-for="(option,index) in options"
              :class="{active:current === index}"
              :key="option.id"
              @mousedown="select(option,index)"
              @mousemove="setActive(index)">
        {{option}}
      </button>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      options: [],
      query: '',
      showOptions: false,
      current: 0,
      delayed: false,
      delayTimeout: null
    };
  },
  props: {
    optionsGetter: {
      type: Function,
      default() {
        return Promise.resolve();
      }
    },
    value: {
      default: null
    },
    placeholder: {
      type: String,
      default: 'Start typing...'
    },
    disabled: {
      type: Boolean,
      default: false
    },
    delay: {
      type: Number,
      default: 300
    }
  },
  watch: {
    value(val) {
      this.query = val;
    },
    query(val) {
      if (val.length < 4) this.options = [];
      this.$emit('input', val);
    }
  },
  created() {
    if (this.value) this.query = this.value;
  },
  filters: {
    highlight(item) {
      return item.replace(this.query, `<b>${this.query}</b>`);
    }
  },
  methods: {
    getOptions() {
      clearTimeout(this.delayTimeout);
      this.delayTimeout = setTimeout(async () => {
        if (!this.query || this.query.length < 3) return;
        this.options = await this.optionsGetter(this.query);
      }, this.delay);
    },
    show() {
      this.showOptions = true;
    },
    hide() {
      setTimeout(() => {
        this.showOptions = false;
      }, 100);
    },
    up() {
      if (this.current > 0) {
        this.current--;
      } else {
        this.current = this.options.length - 1;
      }
    },
    down() {
      if (this.current < this.options.length - 1) {
        this.current++;
      } else {
        this.current = 0;
      }
    },
    select(option, index) {
      if (!option) return;
      this.current = index;
      this.$emit('input', option);
      this.options = [];
    },
    enter() {
      this.select(this.options[this.current], this.current);
      // this.$refs['suggestions-input__input'].blur();
    },
    setActive(index) {
      this.current = index;
    }
  }
};
</script>
<style scoped>
.suggestions-input__container {
  max-width: 450px;
  margin: 0 auto;
}
.suggestions-input__container.opened .suggestions-input__input {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.suggestions-input__container.opened .suggestions-input__dropdown {
  display: block;
}
.suggestions-input__input {
  width: 100%;
  padding: 15px 20px;
  border-radius: 15px;
  border: none;
  background-color: #f1f3f4;
  outline: none;
  font-size: 1.2em;
}
.suggestions-input__input[disabled],
.suggestions-input__input[disabled]:hover {
  background-color: #ffdddd;
}
.suggestions-input__input:hover {
  background-color: rgb(230, 232, 235);
}

.suggestions-input__dropdown {
  max-height: 200px;
  display: none;
}

.suggestions-input__option {
  width: 100%;
  text-align: left;
  white-space: nowrap;
  background-color: #f1f3f4;
  overflow: hidden;
  text-overflow: ellipsis;
  border: none;
  padding: 10px;
  display: block;
  -webkit-appearance: none;
}
.suggestions-input__option:last-child {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.suggestions-input__option.active {
  background-color: #7381ff;
  color: #fff;
}
</style>
