<template>
  <div id="app"
       class="container">
    <Home />
  </div>
</template>

<script>
import Home from './modules/Home.vue';

export default {
  name: 'app',
  components: {
    Home
  }
};
</script>

<style>
.container {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  margin-top: 60px;
}
body * {
  box-sizing: border-box;
  color: #666;
}
</style>
